---
import Layout from "../../layouts/Layout.astro";
import CreditCard from "../../components/CreditCard.astro";
import { fade, slide } from "astro:transitions";
import { movies } from "../../lib/data";
const { id } = Astro.params;
const movie = movies.find((movie) => movie.id === id);
---

<Layout title=`${id}`>
  <div class="md:flex">
    <a href="/">Atras</a>
    <div class="flex items-center flex-col md:flex-row w-full justify-center">
      <div
        id="movie-container"
        class="relative items-center transition-all duration-1000 flex flex-col border-2 bg-red-600 h-[550px] w-[340px]"
        transition:name=`movie ${id} box`
      >
        <div class="inset-0 flex flex-col items-end z-30 -mt-4">
          <h1 transition:name=`movie ${id} db` class="text-9xl drop-shadow-lg">
            Dragonball
          </h1>
          <div class="-mt-3 flex justify-between w-full px-2">
            <div
              transition:name=`movie ${id} id`
              class="text-yellow-300 text-6xl leading-9 drop-shadow-lg flex justify-center items-center"
            >
              {movie?.id}
              <div class="border-yellow-300 border-2 rounded-full h-fit w-fit">
                <div
                  class="p-1 border-black border-2 h-9 w-9 bg-red-600 rounded-full flex justify-center items-center"
                >
                  <img
                    src="https://i.pinimg.com/originals/df/d5/95/dfd5952babe2b7111cf908f482d9eb0b.png"
                    class="object-cover"
                  />
                </div>
              </div>
            </div>

            <div
              transition:name=`movie ${id} title`
              class="text-3xl w-[55%] text-end leading-6 drop-shadow-lg"
            >
              {movie?.title}
            </div>
          </div>
        </div>
        <div class="z-30 border-2 absolute h-full w-full">
          <div
            class="absolute h-5/6  w-full flex justify-center bottom-0 items-end"
          >
            <img
              transition:name=`movie ${id} image`
              src={movie?.hero}
              class="max-h-full   "
            />
          </div>
        </div>
      </div>
      <div
        id="movie-container"
        class="relative items-center transition-all duration-1000 flex flex-col border-2 overflow-auto bg-white md:h-[550px] w-[340px] text-black p-2"
        transition:animate="slide"
      >
        <div
          class="border-2 border-black p-1 relative flex items-center justify-center flex-col"
        >
          <div class="text-center p-2">
            <p class="text-3xl pt-2">{movie?.title}</p>
            <p>{movie?.japTitle}</p>
            <div class="p-6">
              <img class="border-4 border-black" src={movie?.poster} />
            </div>
          </div>
          <p class="text-2xl">Datos Tecnicos</p>
          <CreditCard oficio="Director" persona={movie?.director} />
          <CreditCard oficio="Fecha de Estreno" persona={movie?.date} />
          <CreditCard oficio="Duracion" persona={movie?.duration} />

          <p class="text-2xl">Sinopsis</p>
          <p
            class="px-5 text-justify font-sans leading-4 text-sm tracking-tight"
          >
            {movie?.desc}
          </p>

          <p class="text-2xl">Ubicacion Temporal</p>

          <div
            class="w-full h-6 bg-black px-5 flex justify-between items-center"
          >
            <div class="w-1/3 flex justify-center">
              <div class="h-5 w-5 aspect-square bg-red-600 rounded-full"></div>
            </div>
            <div class="w-1/3 flex justify-center">
              <div class="h-5 w-5 aspect-square bg-white rounded-full"></div>
            </div>
            <div class="w-1/3 flex justify-center">
              <div class="h-5 w-5 aspect-square bg-red-600 rounded-full"></div>
            </div>
          </div>
          <div class="px-5 flex justify-between font-sans text-xs">
            <div class="w-1/3 text-center">{movie?.beforeTime}</div>
            <div class="w-1/3 text-center">{movie?.title}</div>
            <div class="w-1/3 text-center">{movie?.afterTime}</div>
          </div>
          <div class="py-4">
            <p class="text-2xl text-center">Mas Información</p>
            <div class="border-2 border-black">
              <div
                class="bg-black p-3 text-white font-sans tracking-tight text-sm border-2 border-white flex flex-col text-center"
              >
                <a class="hover:underline" href={movie?.dbw}>DragonballWiki</a>
                <a class="hover:underline" href={movie?.kan}>Kansenshuu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</Layout>
